{"call":"DF","icao":"001F41","lAlt":0,"lLat":39.9483,"lLng":124.245,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"P68","icao":"001F42","lAlt":0,"lLat":39.875,"lLng":124.142,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"CHI","icao":"001F43","lAlt":0,"lLat":39.2683,"lLng":122.618,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"NODAL","icao":"001F44","lAlt":0,"lLat":40.0467,"lLng":123.178,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"ISKEM","icao":"001F45","lAlt":0,"lLat":40.8333,"lLng":123.75,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"BIDIB","icao":"001F46","lAlt":0,"lLat":41.4067,"lLng":124.163,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"ANSUK","icao":"001F47","lAlt":0,"lLat":41.0483,"lLng":124.193,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
{"call":"DDG","icao":"001F48","lAlt":0,"lLat":40.2583,"lLng":124.285,"lOnGnd":true,"lSpd":0,"lTrk":0,"msgType":1,"tnsType":2}
