<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SenserModels.Properties.Settings.LocalStoreConnectionString"
            connectionString="data source=.\LocalStore.db3" providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>